In [1]:
#import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
from sqlalchemy import create_engine
import os
from selenium import webdriver
import time

In [2]:
#create connection engine to the mysql db
connection_string = 'mysql://lucab:lucab@127.0.0.1:3306/nbamvp_pred'
engine = create_engine(connection_string)

In [3]:
#create ranges of year numbers => range(2000, 2024) is from 2000 to 2023
mvp_stats_years = range(2000, 2024)
other_stats_years = range(2000, 2025)

In [4]:
#scrape the awards pages from 2000 to 2023
mvps_url = "https://www.basketball-reference.com/awards/awards_{}.html"

for year in mvp_stats_years:
    url = mvps_url.format(year)
    data = requests.get(url)

    with open("mvp/{}.html".format(year), "w+" ) as f:
        f.write(data.text)

In [4]:
#extract the mvp data and combine it into dataframes for each .html file
dfs = []
for year in mvp_stats_years:
    with open("mvp/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="over_header").decompose()
    mvp_table = soup.find(id="mvp")
    mvp = pd.read_html(str(mvp_table))[0]
    mvp["Year"] = year

    dfs.append(mvp)

C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\4104543203.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  mvp = pd.read_html(str(mvp_table))[0]

In [5]:
#combine the dataframes in the list "dfs"
mvps = pd.concat(dfs)
mvps.head(3)

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Shaquille O'Neal,27,LAL,120.0,1207.0,1210,0.998,79,40.0,...,13.6,3.8,0.5,3.0,0.574,0.00,0.524,18.6,0.283,2000
1,2,Kevin Garnett,23,MIN,0.0,408.0,1210,0.337,81,40.0,...,11.8,5.0,1.5,1.6,0.497,0.37,0.765,11.6,0.172,2000
2,3,Alonzo Mourning,29,MIA,0.0,367.0,1210,0.303,79,34.8,...,9.5,1.6,0.5,3.7,0.551,0.00,0.711,12.9,0.226,2000

In [6]:
#save the dataframe "mvps" to the mysql database
mvps.to_sql(name='mvps_tbl', con=engine, if_exists='replace', index=False)

339

In [7]:
#scrape the nba players stats page from 2000 to 2024
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

#for year in other_stats_years:
#    url = player_stats_url.format(year)
    
#    data = requests.get(url)
    
#    with open("player/{}.html".format(year), "w+") as f:
#        f.write(data.text)

In [8]:
#launches a Chrome web browser for automated tasks
driver = webdriver.Chrome()

In [9]:
#scrape the nba players stats page from 2000 to 2024
for year in other_stats_years:
    url = player_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(2)
    
    with open("player/{}.html".format(year), "w+") as f:
        f.write(driver.page_source)

In [10]:
#extract the players data and combine it into dataframes for each .html file
dfs = []
for year in other_stats_years:
    with open("player/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find_all(id="per_game_stats")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1425261577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  player_df = pd.read_html(str(player_table))[0]

In [11]:
#combine the dataframes in the list "dfs"
players = pd.concat(dfs)

In [12]:
players.head(1)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Tariq Abdul-Wahad,SG,25,TOT,61,56,25.9,4.5,10.6,...,1.7,3.1,4.8,1.6,1.0,0.5,1.7,2.4,11.4,2000

In [13]:
#save the dataframe "players" to the mysql database
players.to_sql(name='players_tbl', con=engine, if_exists='replace', index=False)

15724

In [14]:
#scrape the nba team stats page from 2000 to 2024
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

for year in other_stats_years:
    url = team_stats_url.format(year)
    
    data = requests.get(url)
    
    with open("team/{}.html".format(year), "w+") as f:
        f.write(data.text)

In [15]:
#extract the teams data and combine it into dataframes for each .html file
dfs = []
for year in other_stats_years:
    with open("team/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    e_table = soup.find_all(id="divs_standings_E")[0]
    e_df = pd.read_html(str(e_table))[0]
    e_df["Year"] = year
    e_df["Team"] = e_df["Eastern Conference"]
    del e_df["Eastern Conference"]
    dfs.append(e_df)
    
    w_table = soup.find_all(id="divs_standings_W")[0]
    w_df = pd.read_html(str(w_table))[0]
    w_df["Year"] = year
    w_df["Team"] = w_df["Western Conference"]
    del w_df["Western Conference"]
    dfs.append(w_df)

C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  e_df = pd.read_html(str(e_table))[0]
C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\2974603268.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  w_df = pd.read_html(str(w_table))[0]

In [16]:
#combine the dataframes in the list "dfs"
teams = pd.concat(dfs)

In [17]:
teams.head(3)

    W   L  W/L%   GB  PS/G  PA/G   SRS  Year                 Team
0  52  30  .634    —  94.4  91.3  2.75  2000          Miami Heat*
1  50  32  .610  2.0  92.1  90.7  1.30  2000     New York Knicks*
2  49  33  .598  3.0  94.8  93.4  1.02  2000  Philadelphia 76ers*

In [18]:
#save the dataframe "teams" to the mysql database
teams.to_sql(name='teams_tbl', con=engine, if_exists='replace', index=False)

860

In [19]:
#scrape the nba arenas wikipedia page
arena_url = "https://en.wikipedia.org/wiki/List_of_NBA_arenas"
data = requests.get(arena_url)

with open("arenaindex/arenas_index.html", "w+") as f:
    f.write(data.text)

In [20]:
#extract the arenas data and save it into a dataframe
with open("arenaindex/arenas_index.html") as f:
    page = f.read()

soup = BeautifulSoup(page, "html.parser")
arena_table = soup.find('table', class_='wikitable sortable plainrowheaders')
arena_df = pd.read_html(str(arena_table))[0]

C:\Users\lucab\AppData\Local\Temp\ipykernel_30548\1795179866.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  arena_df = pd.read_html(str(arena_table))[0]

In [21]:
#Rename the arena names to match the urls for each arena wikipedia page
arena_df["Arena"] = arena_df["Arena"].str.replace(" ", "_", regex=False)
arena_df["Arena"] = arena_df["Arena"].str.replace("Wells_Fargo_Center", "Wells_Fargo_Center_(Philadelphia)", regex=False)

In [22]:
arena_df.head(1)

,Image,Arena,Location,Team(s),Capacity,Opened,Season of first NBA game,Ref(s)
0,NaN,American_Airlines_Center,"Dallas, Texas",Dallas Mavericks,19200,2001,2001–02,[1][2]

In [23]:
#launches a Chrome web browser for automated tasks
driver = webdriver.Chrome()

In [24]:
#scrape the nba arenas wikipedia pages from
arena_name_url = "https://en.wikipedia.org/wiki/{}"
for arena in arena_df['Arena']:
    url = arena_name_url.format(arena)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,1000)")
    time.sleep(1)
    
    with open("arenas/{}.html".format(arena), "w+") as f:
        f.write(driver.page_source)

In [25]:
#extract the arenas laitude and longitude and save it into the dataframe "arena_df"
index = 0
for arena in arena_df['Arena']:
    with open("arenas/{}.html".format(arena)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    infobox = soup.find("table", {"class": "infobox"})
    coordinates = infobox.find("span", {"class": "geo"})
    coordinates_text = coordinates.text.strip().split("; ")
    latitude = coordinates_text[0]
    longitude = coordinates_text[1]
    
    arena_df.at[index, "Latitude"] = latitude
    arena_df.at[index, "Longitude"] = longitude

    index = index + 1

In [26]:
arena_df

,Image,Arena,Location,Team(s),Capacity,Opened,Season of first NBA game,Ref(s),Latitude,Longitude
0,NaN,American_Airlines_Center,"Dallas, Texas",Dallas Mavericks,19200,2001,2001–02,[1][2],32.79056,-96.81028
1,NaN,Ball_Arena,"Denver, Colorado",Denver Nuggets,19520,1999,1999–2000,[1][3],39.74861,-105.00750
2,NaN,Barclays_Center,"Brooklyn, New York",Brooklyn Nets,17732,2012,2012–13,[1][4],40.6826611,-73.9752250
3,NaN,Capital_One_Arena,"Washington, D.C.",Washington Wizards,20356,1997,1997–98,[1][5],38.89806,-77.02083
4,NaN,Chase_Center,"San Francisco, California",Golden State Warriors,18064,2019,2019–20,[1][6][7],37.76806,-122.38750
5,NaN,Crypto.com_Arena,"Los Angeles, California",Los Angeles Clippers,19068,1999,1999–2000,[1][8],34.04306,-118.26722
6,NaN,Crypto.com_Arena,"Los Angeles, California",Los Angeles Lakers,18997,1999,1999–2000,[1][8],34.04306,-118.26722
7,NaN,Delta_Center,"Salt Lake City, Utah",Utah Jazz,18306,1991,1991–92,[1][9],40.76833,-111.90111
8,NaN,FedExForum,"Memphis, Tennessee",Memphis Grizzlies,17794,2004,2004–05,[1][10],35.13833,-90.05056
9,NaN,Fiserv_Forum,"Milwaukee, Wisconsin",Milwaukee Bucks,17500,2018,2018–19,[1][11],43.045028,-87.918167
10,NaN,Footprint_Center,"Phoenix, Arizona",Phoenix Suns,17071,1992,1992–93,[1][12],33.44583,-112.07139
11,NaN,Frost_Bank_Center,"San Antonio, Texas",San Antonio Spurs,18418,2002,2002–03,[1][13],29.42694,-98.43750
12,NaN,Gainbridge_Fieldhouse,"Indianapolis, Indiana",Indiana Pacers,17923,1999,1999–2000,[1][14],39.76389,-86.15556
13,NaN,Golden_1_Center,"Sacramento, California",Sacramento Kings,17583,2016,2016–17,[1][15],38.580361,-121.499611
14,NaN,Kaseya_Center,"Miami, Florida",Miami Heat,19600,1999,1999–2000,[1][16],25.78139,-80.18806
15,NaN,Kia_Center,"Orlando, Florida",Orlando Magic,18846,2010,2010–11,[1][17][18],28.53917,-81.38361
16,NaN,Little_Caesars_Arena,"Detroit, Michigan",Detroit Pistons,20332,2017,2017–18,[1][19],42.34111,-83.05500
17,NaN,Madison_Square_Garden,"New York, New York",New York Knicks,19812,1968[a],1967–68,[1][20],40.75056,-73.99361
18,NaN,Moda_Center,"Portland, Oregon",Portland Trail Blazers,19441,1995,1995–96,[1][21],45.53167,-122.66667
19,NaN,Paycom_Center,"Oklahoma City, Oklahoma",Oklahoma City Thunder,18203,2002,2008–09,[1][22],35.46333,-97.51500
20,NaN,Rocket_Mortgage_FieldHouse,"Cleveland, Ohio",Cleveland Cavaliers,19432,1994,1994–95,[1][23][24],41.49639,-81.68806
21,NaN,Scotiabank_Arena,"Toronto, Ontario",Toronto Raptors,19800,1999,1998–99,[1][25],43.64333,-79.37917
22,NaN,Smoothie_King_Center,"New Orleans, Louisiana",New Orleans Pelicans,16867,1999,2002–03,[1][26],29.94889,-90.08194
23,NaN,Spectrum_Center,"Charlotte, North Carolina",Charlotte Hornets,19077,2005,2005–06,[1][27],35.22500,-80.83917
24,NaN,State_Farm_Arena,"Atlanta, Georgia",Atlanta Hawks,16600,1999,1999–2000,[1][28],33.75722,-84.39639
25,NaN,Target_Center,"Minneapolis, Minnesota",Minnesota Timberwolves,18978,1990,1990–91,[1][29],44.97944,-93.27611
26,NaN,TD_Garden,"Boston, Massachusetts",Boston Celtics,19156,1995,1995–96,[1][30],42.3663028,-71.0622278
27,NaN,Toyota_Center,"Houston, Texas",Houston Rockets,18055,2003,2003–04,[1][31],29.75083,-95.36222
28,NaN,United_Center,"Chicago, Illinois",Chicago Bulls,20917,1994,1994–95,[1][32],41.88056,-87.67417
29,NaN,Wells_Fargo_Center_(Philadelphia),"Philadelphia, Pennsylvania",Philadelphia 76ers,20478,1996,1996–97,[1][33][34],39.90111,-75.17194

In [27]:
#save the dataframe "arena_df" to the mysql database
arena_df.to_sql(name='arenas_tbl', con=engine, if_exists='replace', index=False)

30

In [28]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
NT
Windows | 10
Datetime: 2024-05-07 11:43:08
Python Version: 3.10.13
-----------------------------------